#login_box {
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: 50%;
	top: 50%;
	/* variables */
	background-color: white;
	font-family: Arial;
	-webkit-border-radius: 20px; 
    -moz-border-radius: 20px;
}

#login_box fieldset {
	margin: 40px;
	padding: 0px;
	border: 0px;
}

#login_box dd {
	margin: 0px;
	padding-bottom: 20px;
}

#login_box dt {
	float: left;
}

#login_box #login_button {
	text-decoration: none;
	text-align: center;
	padding: 10px;
}