/* CSS file */

body {
	font-family: Arial;
	color: white;
	/*background-color: black;*/
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	/*background-image: url('../images/beach.jpg');*/ /* FIXME: Set background-image through JS */
}

h1 {
	margin: 40px;
	font-size: 40px;
}

/* jquery.blockUI.js */
.blockMsg {
    padding: 0px;
    margin: 0px;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    cursor: wait;
    /* TODO: Find a good way to style this box or create our own */
    /*border: none;
    background-color: none;
	opacity: .5;
	-moz-opacity: .50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	-webkit-border-radius: 10px; 
    -moz-border-radius: 10px;*/
	/* VAR */ margin-left: -104px; /* See state #RamuneCallCalling */
	/* VAR */ margin-top: -190px; /* FIXME: Hack. Should be dynamic */
}

/* Ramune */


/* FRIENDS */

#friends { /* CHANGED: #friends was #buddies */

}

.friend {
}

.friend_spacer { /* CHANGED: .friend_spacer was .friend */
	display: block;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	padding: 15px;
}

.friend_photo {
	border: solid 4px #aaaaaa;
	height: 200px; /* VAR */
	width: 200px; /* VAR */
}

.friend_photo img {
	width: 100%;
	height: 100%;
}

.friend_name {
	display: block; /* FIXME: Necessary? */
	color: white;
	font-family: arial;
	text-align: center;
	position: relative;
	/* CHANGED: Removed margin-bottom: -10px; Replaced with line-height */
	line-height: 60px;
	font-size: 30px; /* VAR */
	font-weight: bold;
}

#RamuneSettings {
	display: none;
}

#RamuneCallCalling { /* CHANGED: Removed #calling_outgoing et. al. Replaced with #RamuneCallCalling et. al. */
	/* VAR */ width: 208px; /* width of largest element + border */
	/* VAR height: 260px; */
	/* VAR padding: 40px; */
}

#RamuneCallRinging {
	/* VAR */ width: 208px; /* width of largest element + border */
	/* VAR height: 260px; */
	/* VAR padding: 40px;*/
}

#RamuneCallEstablished {
	/*
	background-color: black;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	*/
	position: absolute;
	left: 50%;
	top: 50%;
	width: 960;
	height: 600;
	margin-left: -481px;
	margin-top: -300px;
}


#ramunex {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -481px;
	margin-top: -300px;
}



/* CHANGED: Removed #buddy_list_cancel_button & #cancel_location */
/* CHANGED: Abstraction. #calling_outgoing_cancel_button is now .red_button */


a.button {
	display: block;
	font-family: arial;
	text-align: center;
	text-decoration: none;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
	font-weight: bold;
	border: solid 1px #000;
	/* VAR */ -webkit-border-radius: 8px; 
    /* VAR */ -moz-border-radius: 8px;
    /* VAR */ width: auto;
    /* VAR */ font-size: 30px;
    /* VAR */ height: 50px; /* NOTE: font-size + 'padding' */
    /* VAR */ line-height: 50px; /* NOTE: Should always equal height */
}

	a.padded_width {
		width: auto;
		padding: 0 20px 0 20px;
	}
	a.width_192 {
		width: 190px;
	}

	a.flow_width {
		width: 100%;
	}

	a.red_button { /* NOTE: Use with "No", "Cancel", "Abort", "Delete", et. al */
		background-color: #B22222; /* firebrick */
		color: white;
	}

	a.green_button { /* NOTE: Use with (yes | go | accept | true) */
		background-color: #228B22; /* forest green */
		color: white;
	}


	a.ptz_button {
		display: block;
		/* VAR */ width: 64px;
		/* VAR */ height: 64px;
	}
	a.ptz_button img {
		border: none;
		width: 100%;
		height: 100%;
	}
	
	#pantilt_control {
		width: 192;
		height: 192;
		/*background-color: #CCC;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;*/
		float: right;
	}
		#ptz_button_up {
			/* VAR */ margin: 0 64 0 64;
		}
		#ptz_button_left {
			float: left;
		}
		#ptz_button_stop {
			float: left;
		}
		#ptz_button_right {
			float: left;
		}
		#ptz_button_down {
			/* VAR */ margin: 0 64 0 64;
		}
	/* END */
	
	#zoom_control {
		/*background-color: #AAAAAA;*/
		width: 192;
		height: 64;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		float: right;
	}
		#zoom_in_button {
			float: left;
			margin: 0 16 0 16;
		}
		#zoom_out_button {
			float: left;
			margin: 0 16 0 16;
		}
	
	#ui_control {
		/*background-color: #AAAAAA;*/
		width: 192;
		height: 64;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		float: right;
	}
	
	#controls {
		float: right;
		width: 192;
		height: 480;
	}
	
	#centerer {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 960;
		height: 600;
		margin-left: -481px;
		margin-top: -300px;
	}
	#end_call_button {
		
	}
	#settings_button {
		float: right;
	}
	#sources {
		margin-top: 20;
		background-color: #777;
		height: 94;
		width: 720;
		float: left;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
	}
	a.source {
		display:block;
		float: left;
		height:64px;
		width:64px;
		padding:15px;
	}
	a.source img {
		width: 100%;
		height: 100%;
		border: 0;
	}
	.top_space { /* NOTE: Hack. Not sure how to best implement spacing yet. */
		margin-top: 14px;
	}


.call_desc {
	/* TODO: Style text */
}

/* CHANGED: Deleted everything else. Compare to CSS in FRESCOLITA/tmp/test.html */

/* CHANGED: Added CSS from FRESCOLITA/public/frescolita/stylesheets/main.css */
/* CHANGED: Deleted CSS from FRESCOLITA/public/frescolita/stylesheets/main.css */